.vs/
[Bb]in/
[Dd]ebug/
[Dd]eploy/
[Oo]bj/
[Oo]utput/
[Pp]ackages/
[Rr]elease/
[Tt]est[Rr]esult/

*.suo
*.tmp
*.user
*.vsp
*.vspx

# User-specific files
*.suo
*.user
*.sln.docstates

# Coverity files
/cov-int/
/gcw.tar
/gcw.tgz
/gcw.lzma
