<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="xunit.longRunningTestSeconds" value="2.0"/>
    <add key="xunit.maxParallelThreads" value="0"/>
    <add key="xunit.methodDisplay" value="method"/>
    <add key="xunit.parallelizeAssembly" value="false"/>
    <add key="xunit.parallelizeTestCollections" value="true"/>
    <add key="xunit.preEnumerateTheories" value="true"/>
  </appSettings>
</configuration>