<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hyak.Common" version="1.2.2" targetFramework="net452" />
  <package id="Microsoft.Azure.Common" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.Azure.KeyVault" version="3.0.3" targetFramework="net472" />
  <package id="Microsoft.Azure.KeyVault.WebKey" version="3.0.3" targetFramework="net472" />
  <package id="Microsoft.Azure.Services.AppAuthentication" version="1.0.3" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="4.5.0" targetFramework="net452" />
  <package id="Microsoft.Net.Compilers" version="2.8.0" targetFramework="net451" developmentDependency="true" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.18" targetFramework="net472" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.18" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net452" />
</packages>